@import url('https://fonts.googleapis.com/css?family=Play:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Play', sans-serif ;
  color: #fff;
  background-color: #111;
}

.navbar {
  background-color: #111;
    top: 0;
    z-index: 1;
    width: 100%;
    /* position: absolute; */
    transition: ease 400ms;

}
.navbar-brand img{
  height: 5vh;
  margin-left: 3vw;
 
}

.navbar-toggler {
  padding: .15rem .5rem; 
  font-size: 1.25rem; 
  line-height: 1;
  background-color: black;
  border: 1px solid white;
  border-radius: .25rem;
}

.navbar-toggler-icon {
  line-height: 1;
  border: 1px solid white;
  border-radius: .25rem;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.collapse {
  display: none;
}


.nav-link {
  font-size: 1.1rem;
  color: #fff;
  margin-right: 3vw;
  padding: .1rem 1rem;
 }

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  right: 40%;
  bottom: 20px;
  left: 40%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 7vw;
  color: #fff;
  text-align: center;
}

.btn-primary {
  background-color:#BC3814;
  border: 1px solid #BC3814;
  height: 3vh;
  border-radius: 2vw;
  padding: .1rem 1rem;
}

.btn-primary:hover {
  background-color: transparent;
  border: 1px solid black;
}

.card {
  color: transparent;
  background-color: transparent;
  margin-left: -1vw;
  margin-right: -1vw;
  left: 20px;
}

.card-body {
  color: #fff;
}

.h4, h4 {
  font-size: 1.5rem;
 
}

.h3 {
margin-left: -2vw;
}

.card img {
  width: 100%;
  height: 100%;

}

.card-title {
  margin-bottom: .75rem;
  font-size: small;
  margin-left: -1vw;
}

img {
  vertical-align: middle;
  border-style: none;
  height: 5vw;
}

.img-button {
  vertical-align: middle;
  border-style: none;
  height: 5vw;
  margin-left: -10vw;
}


.h1, .h2, .h4, .h5, .h6, h1, h2, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  /* margin-left: -1vw; */
  color: inherit;
}
.h3, h3 {
margin-bottom: .5rem;
font-family: inherit;
font-weight: 500;
line-height: 1.2;
margin-left: -1vw;
color: inherit;
}

.img-fluid {
  max-width: 100%;
  height: 100%;
}

.social a {
  font-size: 3.5em;
  padding: 1rem;
  color: white;
}

.logo img {
height: 12vh;
padding: 1rem;
margin-left: 5.5vw;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.row .card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  left: -0.1vw;
  /* margin-right: 10px;
  margin-left: 10px; */
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
  font-family: 'Press Gothic';
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
  font-family: 'Press Gothic';
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
  font-family: 'Press Gothic';
  /* margin-left: -1vw; */
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  font-family: 'Press Gothic';
}

@media (min-width: 1200px) {
.container {
  max-width: 1197px;
}

/* .carousel-caption {
  height: auto; 
} */
}
/*---Media Queries --*/

@media screen and (max-width: 1080px) {
  .carousel-caption {
    height: auto; 
}
}
@media screen and (max-width: 998px) {
  /* .carousel-caption {
      height: auto; 
  } */
}
@media screen and (max-width: 769px) {
  .carousel-caption {
    height: auto; 
}
}
@media screen and (max-width: 576px) {
  .carousel-caption {
    height: auto; 
}
}
/*********************************************/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}


/*---Firefox Bug Fix --*/
/* .carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
} */
/*--- Fixed Background Image --*/
/* figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
} */
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 2rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 769px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








